@use 'variables' as v;

// Media query
@mixin media($size) {
  @media (min-width: map-get(v.$breakpoints, $size)) {
    @content;
  }
}

// Flexbox
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0rem) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

// Center on page
@mixin center {
  margin-inline: 1.5rem;
  @include media(large) {
    & {
      max-width: 1200px;
      margin-inline: auto;
    }
  }
}

// Cyan button hover
@mixin cyanHover {
  &:hover {
    background-color: var(--clr-cyan-hover);
  }
}